/*
darker: #00bbd6
lighter: #66f1ff 
contrast: #ffe600
text: #2f3333
*/

html{
	/*font-size: 20px;*/
	/*font-size: 20px;*/
}

/*@media(max-width: 980px) {
	html{
		font-size: 1em;
	}
}*/

body {
	font-family: 'Open Sans', sans-serif;
	color: #2f3333;
	background: #66f1ff ;
	margin: 0px;
	width: 100%;
}

div {
	display: block;
}

a, a:visited{
	text-decoration: none;
	color: #2f3333;
}

/* home screen */
#home{
	background: #00bbd6;
	height: 100%;
	overflow: hidden;
}

#title{
	width:100%;
	height:50px;
	color:white;
	text-align: center;
	line-height: 50px;

}

#create_chat_b, #join_chat_b{
	background: #66f1ff;
	width: 80%;
	height: 35%;
	margin: 10%;
	padding: 15%;
	box-sizing: border-box;
	text-align: center;

	border-radius: 10px;

	font-size: 1.4rem;
	font-weight: bold;
}

/* create_chat screen */

#new_chat{
}

#new_chat_form{
	padding: 15%;

}

input:focus{
	outline: none;
}

#new_chat_form input{
	margin-top: 20px;
	margin-bottom: 20px;
}

#new_chat_name{ /*input field*/
	background: none;
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #00bbd6;
	color: #2f3333;
	font-size: 2rem;
	width: 100%;
	margin-top: 0px;
}

#new_chat_name:focus{
	border-width: 0px 0px 2px 0px;
}

input[type=range]{
	-webkit-appearance: none;
	background-color: #00bbd6;
	width: 80%;
	height: 2%;
	border-radius: 4px;
}

#minutes{
	color: white;
	font-size: 6rem;
	font-weight: bold;
}

#back{
	float: left;
	display: block;
	margin-left: 15px;
	position: absolute;
	top: 22px;
	width:auto;
	height: calc(100% - 22px);
	background-image: url('../images/back_arrow.png') no-repeat;
}

#back img{
	color: white;
	width: 100%;
}

/* join_chat screen */

#join_chat{

}

#chat_data{
	
}

.chatroom{
	
}

.chat_title{
	
}

.chat_time{
	
}

.chat_members{
	
}

@media(max-width: 980px) {
	.chat_time{
		
	}

	.chat_members{
		
	}
}

/* chat_room screen*/

#chat_room{
	background: white;
	width: 100%;
	height: 100%;
}

#chat_input{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-style: solid; 
	border-width: 1px 0px 0px 0px; 
	border-color: #2f3333;
}

#chat_input input{
	margin: 0px;
}

#text_bar{ /*input field*/
	background: white;
	color: #2f3333;
	font-size: 15px;
	width: 90%;
	height: 40px;
	margin-top: 0px;
	padding-left: 15px;
	margin: 0px;
}

#send{
	color: white;
	background: #0483aa;
	border: none;
	height: 40px;
	margin: 0px;
	width: 9%;
}

#desktop{
	display: none;
}