/*
darker: #00bbd6
lighter: #66f1ff 
contrast: #ffe600
text: #2f3333

darker: #0288D1
lighter: #03A9F4
contrast: 
text: #2f3333
*/

html{
	/*font-size: 20px;*/
	/*font-size: 20px;*/
}
/*
@media(max-width: 980px) {
	html{
		font-size: 1em;
	}
}*/

body {
	font-family: 'Open Sans', sans-serif;
	/*color: #2f3333;*/
	color: white;
	background: #03A9F4;
	margin: 0px;
	width: 100%;
}

a, a:visited{
	text-decoration: none;
	color: white;
	/*color: #2f3333;*/
}

/* home screen */
#home{
	background: #0288D1;
	height: 100%;
	overflow: hidden;
}

#title{
	color: white;
	text-align: center;
	padding-top: 10px;
	font-size: 1.8rem;
	width: 100%;
	height: 10%;
	background: #0288D1;
}

#create_chat_b, #join_chat_b{
	/*background: #66f1ff;*/
	background: #03A9F4;
	width: 80%;
	height: 35%;
	margin: 10%;
	padding: 15%;
	box-sizing: border-box;
	text-align: center;

	border-radius: 10px;

	font-size: 1.4rem;
	font-weight: bold;
}

/* join_chat screen */

#join_chat{

}

#chat_data{
	display: inline-block;
}

.chatroom{
	/*background: rgba(0, 187, 214, 0.8);*/
	background: #039BE5;
	width: 90%;
	height: 20%;
	margin: 5%;
	box-sizing: border-box;
	padding: 5%;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}

.chat_title{
	font-weight: bold;
	font-size: 2rem;
	float: left;
}

.chat_members{
	font-size: 1rem;
	float: left;
	padding-left: 10px;
	/*padding-top: 1rem;*/
	text-align: center;
	float: left;
	position: absolute;
	right: 10%;
	/*line-height: 3rem;*/
}

.chat_members span{
	font-size: 3rem;
	line-height: 3rem;
}

.chat_time{
	font-size: 1rem;
}

.chat_time span{
	font-size: 1.5rem;
}

/*@media(max-width: 980px) {
	.chat_time{
		font-size: 1.2em;
		padding-top: 0.8em;
		padding-left: 20px;
	}

	.chat_members{
		font-size: 2rem;
	}
}*/

/* chat_room screen*/

#chat_room{
	background: white;
	width: 100%;
	height: 100%;
}

#chat_input{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-style: solid; 
	border-width: 1px 0px 0px 0px; 
	border-color: #2f3333;
}

#chat_input input{
	margin: 0px;
}

#text_bar{ /*input field*/
	background: white;
	color: #2f3333;
	font-size: 15px;
	width: 90%;
	height: 40px;
	margin-top: 0px;
	padding-left: 15px;
	margin: 0px;
}

#send{
	color: white;
	background: #0483aa;
	border: none;
	height: 40px;
	margin: 0px;
	width: 9%;
}

/* create_chat screen */

#new_chat{
}

#new_chat_form{
	padding: 15%;

}

input:focus{
	outline: none;
}

#new_chat_form input{
	margin-top: 20px;
	margin-bottom: 20px;
}

#new_chat_name{ /*input field*/
	background: none;
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #0288D1;
	color: #2f3333;
	font-size: 2rem;
	width: 100%;
	margin-top: 0px;
}

#new_chat_name:focus{
	border-width: 0px 0px 2px 0px;
}

input[type=range]{
	-webkit-appearance: none;
	background-color: #0288D1;
	width: 80%;
	height: 2%;
	border-radius: 4px;
}

#minutes{
	color: white;
	font-size: 5rem;
	font-weight: bold;
}

#back{
	float: left;
	display: block;
	margin-left: 15px;
	position: absolute;
	top: 22px;
}

#back img{
	color: white;
	width: 100%;
}

#desktop{
	display: none;
}