body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ END RESET ************/

/*
darker: #00bbd6
lighter: #66f1ff 
contrast: #ffe600
text: #2f3333

darker: #0288D1
medium: #039BE5
lighter: #03A9F4
contrast: 
text: #2f3333
*/

html{
	/*font-size: 20px;*/
	/*font-size: 20px;*/
}
/*
@media(max-width: 980px) {
	html{
		font-size: 1em;
	}
}*/


::-webkit-scrollbar { /* hide scrollbars but functional */
    display: none; 
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	/*color: #2f3333;*/
	color: white;
	background: #ffe600;
	margin: 0px;
	width: 100%;
	font-size: 10pt;
}

a, a:visited{
	text-decoration: none;
	/*color: white;*/
	/*color: #2f3333;*/
	color: #000;
}

#home, #join_chat, #new_chat {
	width: 100%;
	height: calc(100% - 50px);
	overflow: scroll;
}

#title{
	color: #000;
	text-align: center;
	padding: 10px 0;
	font-size: 2em;
	font-weight: 700;
	width: 100%;
	/*height: 50px;*/
	background: #fff;
	z-index: 1000;
	box-sizing: border-box;
	/*position: fixed;*/
	/*top: 0;*/
}

#create_chat_b, #join_chat_b{
	/*background: #66f1ff;*/
	/*background: #03A9F4;*/
	background: #fff;
	width: 80%;
	height: 35%;
	margin: 10%;
	padding: 15%;
	box-sizing: border-box;
	text-align: center;

	/*border-radius: 10px;*/

	font-size: 1.4rem;
	font-weight: bold;
}

/* join_chat screen */

/*#join_chat{
	margin-top: 50px; /* buffer for menu fixed
}*/

.chatroom{
	/*background: rgba(0, 187, 214, 0.8);*/
	position: relative;
	background: #00bfdf;
	/*height: 20%;*/
	box-sizing: border-box;
	padding: 20px 5%;
	color: white;
	cursor: pointer;
	border-bottom: 1px solid #92d6e3;
}

#chat_data{
	display: inline-block;
}

/*.chatroom{
	//background: rgba(0, 187, 214, 0.8);
	background: #039BE5;
	width: 90%;
	height: 20%;
	margin: 5%;
	box-sizing: border-box;
	padding: 5%;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}*/

.chat_top{
	font-weight: bold;
	font-size: 2em;
}

/*.chat_members{
	font-size: 1rem;
	float: left;
	padding-left: 10px;
	padding-top: 1rem;
	text-align: center;
	float: left;
	position: absolute;
	right: 10%;
	line-height: 3rem;
}*/

.chat_members{
	position: absolute;
	right: 5%;
	top: 20px;
	text-align: center;
	/*line-height: 3rem;*/
}

.chat_bottom{
	font-size: 1em;
}

/*@media(max-width: 980px) {
	.chat_time{
		font-size: 1.2em;
		padding-top: 0.8em;
		padding-left: 20px;
	}

	.chat_members{
		font-size: 2rem;
	}
}*/

/* chat_room screen*/

#chat_room{
	background: #92d6e3;
	width: 100%;
	height: calc(100% - 50px);
	padding-top: 10px;
	box-sizing: border-box;
}

.bubble {
	position: relative;
	clear: both;
}

.bubble img {
	height: 32px;
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
}

/*img.img_right {
	position: absolute;
	right: 0;
}*/

.message {
	display: inline-block;
	padding: 6px 15px;
	margin: 10px 0;
	max-width: calc(100% - 48px);
	box-sizing: border-box;
	line-height: 1.5em;
}

.message_1 {
	background: #00bfdf;
}

.message_2 {
	background: #ffe600;
	color: #000;
}

/*.message_3 {
	background: #fff;
	color: #000;
	position: absolute;
	right: 33px;
}*/

.message_3 {
	background: #fff;
	color: #000;
	float: right;
}

.bubble img.img_right {
	float: right;
}

input {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
}

#chat_input{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-style: solid; 
	/*border-width: 1px 0px 0px 0px; 
	border-color: #2f3333;*/
}

#chat_input input{
	margin: 0px;
}

#text_bar{ /*input field*/
	background: white;
	color: #2f3333;
	width: 80%;
	height: 40px;
	margin-top: 0px;
	padding-left: 15px;
	margin: 0px;
	vertical-align: top;
	border: none;
}

#send{
	color: #000;
	background: #ffe600;
	border: none;
	height: 40px;
	margin: 0px;
	width: 20%;
}

/* create_chat screen */

/*#new_chat{
	margin-top: 15%; /* buffer for menu fixed
}*/

#new_chat_form{
	padding: 40px 10%;
	text-align: center;
	color: #000;
}

input:focus{
	outline: none;
}

#new_chat_form input{
	/*margin-bottom: 20px;*/
}

.slider {
	margin-top: 20px;
}

#new_chat_name{ /*input field*/
	background: none;
	border-bottom: solid; 
	border-width: 0px 0px 2px 0px; 
	border-color: #00bfdf;
	color: #000;
	font-size: 2em;
	width: 90%;
	margin-top: 0px;
	margin-bottom: 50px;
}

#new_chat_name:focus{
	border-width: 0px 0px 3px 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #aaa;
}

input[type=range]{
	-webkit-appearance: none;
	background-color: #00bfdf;
	width: 85%;
	height: 10px;
	border-radius: 5px;
	margin-bottom: 50px;
}

#minutes, #miles{
	color: #000;
	font-size: 4em;
	font-weight: bold;
	line-height: 4rem;
}

#range_title{
	color: #000;
	margin:0px;
	padding: 0px;
	font-size: 1.5em;
	font-weight: bold;
}

#new_chat_button{
	border: none;
	color: white;
	background: #00bfdf;
	font-size: 1em;
	padding: 10px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#feedback_container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	display: none;
}

/*#feedback{
	color: black;
	float: left;
	position: absolute
	bottom: 0;
}*/

#feedback {
	background-color: #00bfdf;
	width: 75%;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* extras */

#back{
	display: block;
	margin-left: 15px;
	position: fixed;
	top: 18px;
	z-index: 1001;
}

#back img{
	color: white;
	width: 100%;
}

#add{
	display: block;
	margin-right: 10px;
	position: fixed;
	top: 10px;
	right: 0px;
	z-index: 1001;
}

#add img{
	width: 25px;
}

#time {
	color: #000;
	font-size: 2em;
	display: block;
	margin-left: 15px;
	position: fixed;
	top: 10px;
	right: 15px;
	z-index: 1001;
}

#desktop{
	display: none;
}